

:root {
  --primary-color: #ba6e6e;
  --secondary-color: #ab9b96;
  --background-color: #f0e7d8;
  --text-color: #a63a50;
}

body {
  background-color: #f0e7d8;
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
}

nav {
  background-color: #a63a50;
}
a {
  color: #ffffff;
}

button.btn-primary {
display: inline-block;
background-color:#a63a50;
color:#ffffff;
border: 5px solid #ab9b96;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

h1 {
  margin-top: 0;
  text-align: center;
}

h5 {
  margin-top: 0;
  text-align: center;
}

p {
  margin-bottom: 0;
  text-align: center;
}
